@font-face {
  font-family: "Prata Regular";
  src: url(../fonts/prata_ff/Prata-Regular.ttf);
}

@font-face {
  font-family: "Josefin Sans Regular";
  src: url(../fonts/josefinsans_ff/JosefinSans-Regular.ttf);
}

@font-face {
  font-family: "Josefin Sans Thin";
  src: url(../fonts/josefinsans_ff/JosefinSans-Thin.ttf);
}
