.bag {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;

  & > .heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    padding-top: 20px;
    padding-bottom: 30px;

    @media screen and (min-width: 800px) {
      padding-top: 96px;
    }

    h2 {
      font-size: 7vw;
      text-align: center;
      letter-spacing: 0.18rem;

      @media screen and (min-width: 800px) {
        font-size: 55px;
      }
    }
  }

  & > .content {
    padding: 0 10px 300px 10px;

    @media screen and (min-width: 1150px) {
      display: flex;
    }

    .contentBlock {
      max-width: 1000px;
      margin: 0 auto;

      .empty {
        text-align: center;
        @media screen and (min-width: 800px) {
          font-size: 18px;
        }
      }

      .cardContentHeadings {
        padding: 0 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
          padding-bottom: 1rem;
          color: darkgray;
          font-size: 18px;
        }
      }
    }

    .buttonContainer {
      padding-top: 2rem;
      display: flex;
      justify-content: center;

      .checkoutLink {
        width: 100%;
        max-width: 300px;
        padding: 1rem 1.25rem;
        background-color: black;
        color: #f3f3f3;
        font-size: 18px;
        border-style: none;
        letter-spacing: 1px;
        text-align: center;
      }
    }
  }
}
