.accordion {
  margin-bottom: 16px;
  border: 1px solid #e9e9e9;
}

.headingContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 16px 10px;
  background-color: #f3f3f3;
}

.headingContainer:hover {
  cursor: pointer;
}

.headingContainer h3 {
  width: 85%;
  font-size: 18px;
  line-height: 1.6;
}

.arrowContainer {
  position: relative;
  display: flex;
  justify-content: center;
  width: 30px;
  height: 30px;
}

.arrow {
  display: inline-block;
  content: "";
  width: 12px;
  height: 12px;
  border-top: 2px solid #333333;
  border-right: 2px solid #333333;
  transform: translateY(-2px) rotate(135deg);
  transition: all 0.3s ease;
}

.arrowActive {
  transform: rotate(-45deg);
}

.bodyContainer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.bodyContent {
  padding: 12px;
}

.bodyContainer p {
}
