.container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.categoryHeading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
  padding-top: 20px;
}

.categoryHeading h2 {
  font-size: 7vw;
  text-align: center;
  letter-spacing: 0.18rem;
}

@media screen and (min-width: 800px) {
  .categoryHeading {
    padding-top: 96px;
  }
  .categoryHeading h2 {
    font-size: 55px;
  }
}

.productsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 100px;
}

@media screen and (min-width: 800px) {
  .productsContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
