.container {
  /* font-size: 3.5em; */
}

.category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 50vh;
  padding-bottom: 100px;
}

.category h2 {
  font-size: 3.5rem;
  text-align: center;
}
