.container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
  padding-top: 20px;
}

.heading h2 {
  font-size: 7vw;
  text-align: center;
  letter-spacing: 0.18rem;
}

@media screen and (min-width: 800px) {
  .heading {
    padding-top: 96px;
  }

  .heading h2 {
    font-size: 55px;
  }
}

.content {
  padding: 0 10px 150px 10px;
}

@media screen and (min-width: 1150px) {
  .flexFormContent {
    display: flex;
  }
}

.contentBlock {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.billingGrid,
.shippingGrid,
.paymentGrid {
  display: grid;
  gap: 1rem;
}

@media screen and (min-width: 800px) {
  .billingGrid,
  .shippingGrid,
  .paymentGrid {
    grid-template-columns: 1fr 1fr;
  }

  .billingGrid .areaA,
  .shippingGrid .areaA,
  .paymentGrid .areaA {
    grid-area: a;
  }

  .billingGrid .areaB,
  .shippingGrid .areaB,
  .paymentGrid .areaB {
    grid-area: b;
  }

  .billingGrid .areaC,
  .shippingGrid .areaC,
  .paymentGrid .areaC {
    grid-area: c;
  }

  .shippingGrid .areaD,
  .paymentGrid .areaD {
    grid-area: d;
  }

  .billingGrid {
    grid-template-areas:
      "a a"
      "b c";
  }

  .shippingGrid {
    grid-template-areas:
      "a a"
      "b c"
      "d .";
  }

  .paymentGrid {
    grid-template-areas:
      "a a"
      "b b"
      "c d";
  }
}

.fieldsetStyle {
  padding-bottom: 2rem;
  border: 0;
}

.legendStyle {
  padding-bottom: 1rem;
  font-size: 18px;
}

.formLabel,
.formTextInput {
  display: inline-block;
  width: 100%;
}

.formTextInput {
  line-height: 1.75;
  color: #333333;
  border: none;
  outline: none;
  background-color: transparent;
}

.formLabel {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.buttonContainer {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
}

.submitButton {
  display: inline-block;
  padding: 16px 25px;
  font-size: 16px;
  text-align: center;
  color: #f3f3f3;
  background-color: black;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  cursor: pointer;
}

@media screen and (min-width: 1150px) {
  .submitButton {
    width: 100%;
  }
}
