.collections {
  text-align: center;
}

.collections > h2 {
  font-size: 3rem;
  margin-top: 80px;
}

.collections > span {
  font-size: 2rem;
}

.categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 80px;
  margin: 80px 20px;
}
.categories h3 {
  text-align: center;
  margin: 20px auto 0px;
  font-weight: 500;
}
.categories p {
  color: #616161;
  margin-top: 4px;
}
