.contactWrapper {
  position: relative;
}

.container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
  padding-top: 20px;
  padding-bottom: 30px;
}

.heading h2 {
  font-size: 7vw;
  text-align: center;
  letter-spacing: 0.18rem;
}

@media screen and (min-width: 800px) {
  .heading {
    padding-top: 96px;
  }
  .heading h2 {
    font-size: 55px;
  }
}

.content {
  padding: 0 10px 150px 10px;
}

.submitButton {
  display: inline-block;
  margin-top: 16px;
  padding: 16px 25px;
  font-size: 16px;
  text-align: center;
  color: #f3f3f3;
  background-color: black;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  cursor: pointer;
}

.messageBox {
  width: 80%;
  max-width: 300px;
  margin: 0 auto;
  padding: 1.5rem 1rem;
  background-color: #ffffff;
  font-size: 16px;
}

.modalButtonContainer {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.modalButton {
  width: 100%;
  max-width: 300px;
  padding: 15px 12px;
  background-color: black;
  color: #f3f3f3;
  font-size: 18px;
  border-style: none;
  letter-spacing: 1px;
}

@media screen and (min-width: 800px) {
  button {
    font-size: 20px;
  }
}

button:hover {
  cursor: pointer;
}
