.contactWrapper {
  position: relative;
}

.container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
  padding-top: 20px;
  padding-bottom: 30px;
}

.heading h2 {
  font-size: 7vw;
  text-align: center;
  letter-spacing: 0.18rem;
}

@media screen and (min-width: 800px) {
  .heading {
    padding-top: 96px;
  }
  .heading h2 {
    font-size: 55px;
  }
}

.content {
  padding: 0 10px 150px 10px;
}

.buttonContainer {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
}

.submitButton {
  display: inline-block;
  width: 100%;
  max-width: 300px;
  padding: 1rem 1.25rem;
  font-size: 18px;
  text-align: center;
  color: #f3f3f3;
  background-color: black;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  cursor: pointer;
}
