.section {
  position: relative;
}

.innerContainer {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.text {
  display: inline-block;
  color: #f3f3f3;
  font-size: 15vw;
  text-align: center;
}

@media screen and (min-width: 800px) {
  .text {
    font-size: 5vw;
  }
}
