.sectionContent {
  width: 100%;
}

.desktopImageContainer {
  width: 100%;
}

@media screen and (min-width: 799px) {
  .sectionContent {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .desktopImageContainer {
    max-width: 1400px;
  }
}
