.sectionContent {
  width: 100%;
}

.imageAContainer,
.imageBContainer,
.imageCContainer {
  width: 100%;
}

@media screen and (min-width: 800px) {
  .imageAContainer,
  .imageBContainer,
  .imageCContainer {
    max-width: 80vw;
  }
}

@media screen and (min-width: 1200px) {
  .imageAContainer,
  .imageBContainer,
  .imageCContainer {
    max-width: 60vw;
  }
}
