.section {
  position: relative;
}

.innerContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.text {
  position: absolute;
  top: 50%;
  width: 100%;
  color: white;
  font-family: "Prata Regular", Georgia, "Times New Roman", Times, serif;
  font-size: 8vw;
  text-align: center;
  z-index: 1;
}

@media screen and (min-width: 800px) {
  .text {
    font-size: 3vw;
  }
}
