.sectionContent {
  width: 100%;
}

@media screen and (min-width: 800px) {
  .sectionContent {
    padding-top: 99px;
    padding-bottom: 99px;
  }
}

.mobileStaticImage {
  height: 100vh;
}

.desktopImageContainer {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 800px) {
  .desktopImageContainer {
    max-width: 80vw;
  }
}
