.container {
  position: fixed;
  top: 0;
  right: 0;
  width: 60vw;
  height: 100vh;
  background-color: #ffffff;
  overflow-y: scroll;
  z-index: 2;
  transform: translateX(100%);
  transition: all 0.2s ease-in-out;
}

.isOpen {
  transform: translateX(0);
}

.menu {
  /* padding: 115px 0; */
}

@media screen and (min-width: 800px) {
  .menu {
    /* flex-direction: row; */
    /* padding: 0; */
  }
}

.menuItem {
  position: relative;
}

.deptSlide {
  display: flex;
  flex-direction: column;
  padding: 115px 0;
}

@media screen and (min-width: 800px) {
  .deptSlide {
    flex-direction: row;
    padding: 0;
  }
}

.deptName {
  display: block;
  padding: 16px 12px 16px 32px;
}

@media screen and (min-width: 800px) {
  .deptName {
    margin-right: 20px;
    padding: 8px 12px;
    text-align: center;
    vertical-align: middle;
  }
}

.deptName:hover {
  cursor: default;
  color: #f3f3f3;
  background-color: #333333;
}

@media screen and (min-width: 800px) {
  .deptName:hover {
    cursor: pointer;
  }
}
