.orderSummaryContainer > .content {
  padding: 1.5rem;
  background-color: rgb(240, 238, 238);
}

.orderSummaryContainer table {
  border-collapse: collapse;
}

.orderSummaryContainer .borderBottom {
  border-bottom: 1px solid lightgray;
}

.orderSummaryContainer h2 {
  font-size: 18px;
  padding-bottom: 1rem;
}

.orderSummaryContainer table {
  width: 100%;
}

.dataCell.heading {
  width: 50%;
}
.dataCell.detail {
  padding: 1rem 0;
}

.leftSide {
  text-align: start;
}

.rightSide {
  text-align: end;
}
