.container {
}

.linkContents {
}

.imageWrapper {
}

@media screen and (min-width: 800px) {
  .caption {
    font-size: 18px;
  }
}

.productName,
.productPrice {
  padding-top: 8px;
  line-height: 20px;
}
