.wrapper {
  position: relative;
}
.container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 800px) {
  .container {
    padding-top: 200px;
    font-size: 18px;
  }
}

.contents {
  padding: 0 10px 20px 10px;
}

@media screen and (min-width: 800px) {
  .contents {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 50px;
    padding-bottom: 100px;
  }
}

.productImage {
  position: relative;
}

.productImage02::after,
.productImage03::after,
.productImage04::after,
.productImage05::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

.productImage02::after {
  background-color: rgba(51, 51, 51, 0.1);
}
.productImage03::after {
  background-color: rgba(51, 51, 51, 0.3);
}
.productImage04::after {
  background-color: rgba(51, 51, 51, 0.5);
}
.productImage05::after {
  background-color: rgba(51, 51, 51, 0.7);
}

.detailsContainer {
  padding-top: 40px;
}

@media screen and (min-width: 800px) {
  .detailsContainer {
    padding-top: 0;
  }
}

.productName > span {
  font-size: 20px;
  letter-spacing: 0.8px;
  line-height: 1.5;
}

@media screen and (min-width: 800px) {
  .productName span {
    font-size: 25px;
  }
}

.price {
  padding-top: 20px;
  font-size: 18px;
}

@media screen and (min-width: 800px) {
  .price {
    font-size: 20px;
  }
}

.description {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (min-width: 800px) {
  .description {
    font-size: 18px;
  }
}

.sizeOptions {
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
  height: 30vh;
  max-height: 250px;
  overflow-y: scroll;
}

.option {
  padding: 16px 10px;
}

.option:hover {
  cursor: pointer;
  background-color: #333333;
}

.option:hover span {
  color: #f3f3f3;
}

.activeSize {
  background-color: aliceblue;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.addToBagButton {
  margin-top: 20px;
  width: 100%;
  max-width: 350px;
  padding: 1rem 1.25rem;
  background-color: black;
  color: #f3f3f3;
  font-size: 18px;
  border-style: none;
  letter-spacing: 1px;
}

.addToBagButton:hover {
  cursor: pointer;
}
