.subNav {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 800px) {
  .subNav {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 20px;
  }
}

@media screen and (min-width: 1399px) {
  .subNav {
    padding-left: 0;
    padding-right: 0;
  }
}

.departmentName {
  padding: 16px 12px 25px 32px;
  border-bottom: 1px solid #dadada;
}

.departmentLink,
.categoryLink {
  position: relative;
  display: block;
  padding: 20px 12px 20px 32px;
  font-size: 16px;
}

@media screen and (min-width: 800px) {
  .departmentLink,
  .categoryLink {
    color: #f3f3f3;
    padding: 20px 16px;
  }

  .departmentLink::after,
  .categoryLink::after {
    display: block;
    content: "";
    position: relative;
    bottom: -15px;
    left: 0;
    width: 0px;
    height: 2px;
    margin: auto;
    background-color: rgba(242, 242, 242, 0);
    transition: all 0.3s ease;
  }

  .departmentLink:hover::after,
  .categoryLink:hover::after {
    width: 100%;
    background-color: rgba(242, 242, 242, 1);
  }
}

.departmentLink:hover,
.categoryLink:hover {
  color: #f3f3f3;
  background-color: #333333;
}
