.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.8);
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease;
  z-index: 91;

  &.active {
    visibility: visible;
    opacity: 1;
  }

  & > .content {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > .messageBox {
      width: 85%;
      max-width: 350px;
      margin: 0 auto;
      padding: 2rem;
      background-color: #ffffff;
      font-size: 16px;
      text-align: center;

      & > .modalHeading,
      & > p {
        padding-bottom: 1.5rem;
      }

      .modalHeading {
        font-size: 25px;

        @media screen and (min-width: 800px) {
          font-size: 30px;
        }
      }

      .modalButton {
        margin-top: 20px;
        width: 100%;
        padding: 1rem 1.25rem;
        background-color: black;
        color: #f3f3f3;
        font-size: 18px;
        border-style: none;
        letter-spacing: 1px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
