.productDetailsImages {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3%;

  @media screen and (min-width: 800px) {
    grid-template-columns: 1fr 8fr;
  }
}

.carousel {
  position: relative;
  overflow: hidden;

  .carouselContent {
    display: relative;

    .carouselItems {
      display: flex;
      transition: transform 0.3s;

      .productImage {
        display: inline-block;
        justify-content: center;
        align-items: center;
        min-width: 100%;
      }
    }

    .carouselControls {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;

      .controlsContent {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 100%;
        z-index: 1;

        .control {
          display: inline-block;
          padding: 10px;
          background-color: rgba(51, 51, 51, 0);
          transition: all 0.3s;

          &:nth-child(1) {
            margin-left: 5px;
          }

          &:nth-child(2) {
            margin-right: 5px;
          }

          &.disabledControl {
            visibility: hidden;
          }

          .previous,
          .next {
            display: block;
            padding: 10px;
            border-width: 3px 3px 0 0;
            border-style: solid;
            border-color: rgba(243, 243, 243, 1);
            transition: all 0.3s;
          }

          .previous {
            transform: translateX(7px) rotate(-135deg);
          }

          .next {
            transform: translateX(-6px) rotate(45deg);
          }
        }
      }

      .tracker {
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        width: 100%;
        padding-bottom: 12px;

        .trackerContent {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 5px 10px;
          background-color: rgba(51, 51, 51, 0.4);

          .currentTracked,
          .allTracked,
          .trackerLine {
            display: inline-block;
            color: #f3f3f3;
            font-size: 14px;
          }

          .trackerLine {
            color: #f3f3f3;
            padding: 0 7px;
          }
        }
      }

      &:hover {
        .control {
          background-color: rgba(51, 51, 51, 0.5);
          cursor: pointer;
        }
      }
    }
  }
}

.sidePanel {
  position: relative;

  .sidePanelContent {
    display: flex;
    flex-direction: column;

    .panelItem {
      margin-bottom: 10px;
      padding: 2px;

      &:hover {
        cursor: pointer;
      }

      &.panelItemSelected {
        border: 3px solid black;
      }
    }
  }
}
